@model Comanda
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2 class="jumbotron text-center">Comanda a fost actualizata cu succes</h2>