@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (string.Equals(ViewData["Neautorizare"].ToString(), "Rezervare", StringComparison.OrdinalIgnoreCase))
{
    <div class="neautorizat jumbotron">
        <p class="text-danger text-center">The authentication email address is not the same with the one in your order. Please try again</p>
    </div>
}
else if (string.Equals(ViewData["Neautorizare"].ToString(), "RezervareNull", StringComparison.OrdinalIgnoreCase))
{
    <div class="neautorizat jumbotron">
        <p class="text-danger text-center">You have to login to continue</p>
    </div>
}
else if (string.Equals(ViewData["Neautorizare"].ToString(), "Comanda", StringComparison.OrdinalIgnoreCase))
{
    <div class="neautorizat jumbotron">
        <p class="text-danger text-center">You have to login to continue</p>
    </div>
}
else if (string.Equals(ViewData["Neautorizare"].ToString(), "Admin", StringComparison.OrdinalIgnoreCase))
{
    <div class="neautorizat jumbotron">
        <p class="text-danger text-center">Only visitors can make reservations (not Administrators)</p>
    </div>
}
else if (string.Equals(ViewData["Neautorizare"].ToString(), "TraseuZero", StringComparison.OrdinalIgnoreCase))
{
    <div class="neautorizat jumbotron">
        <p class="text-danger text-center">You cannot book reservations for a null km distance</p>
    </div>
}

