
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Comanda  

@if (Model.numePersoana == "Anulat")
{
    <h3 class="container text-center jumbotron mt-5"> Cancelled reservation </h3>
}
else
{
<div class="container jumbotron mt-5">
    <h3 class="text-center"> Reservation made successfully</h3>
    <br />
    <h6 class="text-center"> Ticket id: <strong> @Model.Id. </strong> Retain this number (you can use it to alter your ticket details) </h6>
 
</div>

}